.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px;
}

.search-container {
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 100%;
}
