<div class="flex-container search-container">
  <h2 class="mat-display-1">Search a news article by keywords:</h2>
  <mat-form-field class="search-input">
    <input
      matInput
      #search
      placeholder="Enter keywords"
      (change)="searchArticles(search.value)"
    />
  </mat-form-field>
</div>

<ng-container *ngIf="!loading; else loaderTemplate">
  <div class="articles-container" *ngFor="let article of articles">
    <app-article [article]="article"></app-article>
  </div>
</ng-container>

<ng-template #loaderTemplate>
  <div class="flex-container">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>
