<button
  class="back"
  color="secondary"
  mat-raised-button
  (click)="navigateBack()"
>
  Back
  <mat-icon md-18>keyboard_arrow_left</mat-icon>
</button>
<mat-card class="article-container">
  <mat-card>
    <mat-card-header>
      <div>
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-subtitle>{{ description }}</mat-card-subtitle>
      </div>
      <button class="bookmark" mat-raised-button (click)="saveToBookmarks()">
        Bookmark
        <mat-icon md-18>bookmark</mat-icon>
      </button>
    </mat-card-header>
    <img mat-card-image [src]="image" [alt]="title" />
    <mat-card-content>
      <p>
        {{ content }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      SOURCE:
      <a class="search-btn" mat-button [href]="source.url">{{ source.name }}</a>
    </mat-card-actions>
  </mat-card>
</mat-card>
